/* Cor DARK */
:root,
:root[data-theme='dark'] {

    --cor-fundo: rgb(109, 105, 105);
    --fundo-secundario: rgb(179, 179, 179);
    --txt-menu-text: rgb(0, 0, 0);
    --borda: white;
    --icon-theme:orange ;
    
}


/* Cor LIGHT */
:root[data-theme='light'] {

    --cor-fundo: rgb(219, 215, 215) ;
     --fundo-secundario: rgb(136, 135, 135);
    --txt-menu-text: black;
    --borda: black;
    --icon-theme: black;
}

/* Reset CSS */
* {
    margin: 0; /*Margem externa */
    padding: 0; /* Espaço */
    box-sizing: border-box ; /* TAMANHO DA CAIXA. ELE PEGA O 100% DA TELA PARA EVITAR BARRA DE ROLAGEM */
}


body {
    background: var(--cor-fundo);
}

    /* texto */
    /* em bloco */
header {
    /* Flexbox */
    display: flex;
    justify-content: space-between; /* Eixo X */
    /* alinhamento vertical */
    align-items: center; /* Eixo Y */
    width: 100%; /* Largura total para todos os dispositivos  */
    padding: .5rem 1rem; /* espaçamento entre o elemento interno e o conteudo */
    border-bottom: 1px solid black; /*  Ele cria uma linha no final da header */
    position: fixed; /* Ele vai fixar o menu, vai acompanhar o scroll do site */
    z-index: 9999; /* Ele faz camadas. sobrepoe */
    background: var(--cor-fundo);
}
    
/* NAV */
.menu-desktop {
    display: none;
}

/*  UL */
.menu {
    display: flex;
    list-style: none;
    gap: 1.2rem;
}
.menu-link {
    text-decoration: none;

}
.menu-text {
    text-transform: uppercase;
    color: var(--txt-menu-text);
}

#toggleTheme {
  color: var(--icon-theme);
  font-size: 16px;
  cursor: pointer; /* seta-mouse */
    
}

.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background: var(--fundo-secundario);
    width: 75%;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding-top: 4rem;
    height: 100vh;
    border-left: 1px solid var(--borda);
    align-items: center;
}


.menu-mobile.active {
    transform: translateX(0%);
    transition: transform;
}



/* UL DA NAV MOBILE  */
.menu-list {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;

}

.btn-menu-mobile {
    background: transparent;
    border: none;
    color: var(--icon-theme);
    font-size: 16px;
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
    padding: .5rem ;
}

.header-toaggle {
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-item {
    text-align: center;
}

/* Herança */
.menu-link.active .menu-text,
.menu-link:hover .menu-text {
    color: rgb(82, 53, 53);
}

section {
    padding-top: 150px;
    color: #fff;
}


/* A partir de 768 */
@media(min-width: 768px) {
    .menu-desktop {
        display: flex;
    }

    .btn-menu-mobile {
        display: none; /* Em telas menu hamburguer some */
    
    }
}